@import '../../styles/base.scss';

$card-shadow: 0px 5px 10px 0px rgba(black, 0.05);

.routeCard {
    position: relative;
    width: 500px;
    box-shadow: $card-shadow;
    border-radius: 20px;
    border: 1px solid #eee;
    padding: 20px;
    overflow: hidden;
}

.cancellationLayer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        -45deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0.9) 30%,
        rgba(255, 255, 255, 0.5) 100%
    );
}

.cancellationText {
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 500;
    color: tomato;
    transform: rotate(-15deg);
}

.cancellationIcon {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: scale(40) translateX(-20%) translateY(-20%);
    color: mix(tomato, white, 50%);
}

.titleGrid {
    display: flex;
    justify-content: space-between;
}

.titleAndSubtitle {
    display: flex;
    align-items: center;
}

.title {
    font-weight: bold;
    margin: 0;
    font-size: 40px;
    &:global(.long) {
        font-size: 28px;
    }
}

.subtitle {
    margin-left: 5px;
}

.tphChartContainer {
    position: relative;
    height: 60px;
}

.tphChartLabel {
    position: absolute;
    bottom: 20px;
    left: 0;
    font-size: 16px;
}

.metrics {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.metric {
    display: flex;
    align-items: center;
    :global(.number) {
        font-size: 34px;
    }
    :global(.label) {
        text-transform: uppercase;
        margin-left: 5px;
        font-size: 12px;
    }
    &:global(.good) {
        :global(.number) {
            color: $good;
        }
    }
    &:global(.bad) {
        :global(.number) {
            color: $bad;
        }
    }
}

.sectionLabel {
    display: flex;
    align-items: center;
    margin: 15px 0;
    :global(.label) {
        font-size: 16px;
        font-weight: 300;
        font-style: italic;
    }
    :global(.rule) {
        margin-left: 10px;
        flex-grow: 1;
        height: 0px;
        border-bottom: 1px dotted currentColor;
        transform: translateY(1px);
    }
}

.serviceAndRidershipChartContainer {
    height: 150px;
}

.tooltip {
    font-size: 12px;
    padding: 4px 8px;
    background: white;
    border-radius: 100px;
    box-shadow: $card-shadow;
}