@import '../../styles/base.scss';

.cardFrame {
    color: #222;
    position: relative;
    border: 1px solid black;
    box-shadow: $global-shadow;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 20px;
    overflow: hidden;
    @include mobile {
        border: none;
        border-radius: 0;
        border-bottom: 2px solid #ddd;
        padding: 15px;
    }
}

.topRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-weight: bold;
    margin: 0;
    font-size: 28px;
}

.details {
    color: #777;
    font-weight: 300;
    font-size: 14;
    font-style: italic;
}
