.routeGridWrapper {
    padding: 40px;
}

.header {
    display: flex;
    align-items: center;
}

.alphaTag {
    display: inline-block;
    font-size: 12px;
    padding: 4px 8px;
    margin-left: 5px;
    background: black;
    color: white;
    border-radius: 4px;
    height: 100%;
    transform: rotate(-10deg);
}

.routeGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    @media screen {
        @media (min-width: 1000px) {
            grid-template-columns: repeat(2, 1fr)
        }
        @media (min-width: 1400px) {
            grid-template-columns: repeat(3, 1fr)
        }
        @media (min-width: 1800px) {
            grid-template-columns: repeat(4, 1fr)
        }
    }
}
