name: Update Data
on:
  schedule:
  - cron: '0 0 * * 0'
  push:
    branches: [main]
  pull_request:
    branches: [main]
    types: [opened, reopened]
  workflow_dispatch:
    branches: [main]
jobs:
  data-update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: main
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install pipenv
        run: |
          python -m pip install --upgrade pipenv wheel
      - id: cache-pipenv
        uses: actions/cache@v1
        with:
          path: ~/.local/share/virtualenvs
          key: ${{ runner.os }}-pipenv-${{ hashFiles('**/Pipfile.lock') }}
      - name: Run data update
        run: |
          make setup-env
          make update-data
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
          branch: update-data
