@import '../../styles/base.scss';

.flexWrap {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 15px auto;
  > *:not(:first-child) {
    margin-left: 20px;
  }
}

.flexCol {
  width: 30%;
}
